// @font-face{
//     font-family: abster;
//     src:url(font/abster-webfont.woff) format('woff')
// }
@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.emph_hover:hover{
    color:rgb(255, 0, 85);
    font-weight: bold;
    font-size:larger;

}

.emph{
    color:rgb(255, 100, 151);
    font-weight: bold;

    // border:solid 2px rgb(221, 66, 117);
}

.main button{
    font-size: 25px;
    font-weight: bold;
    background: none;
    border-color:black;
    color: rgb(0, 0, 0);
    padding: 5px 25px;
    border-radius: 10px;
    margin-top: 10px;
    outline: none;
    cursor:pointer;
    translate: all .4s;
}

.main button:hover{
    color: rgb(255, 0, 85);
    background-color: rgba(255,255,255,0.3);
    font-size:xx-large;
    animation: pulse 0.8s linear infinite;
}

.section{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( rgba(255, 255, 255, 0.774),  rgba(255, 255, 255, 0.5));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#section1{
    background-image: linear-gradient(rgba(255, 232, 232, 0.4),  rgba(255, 232, 232, 0.1)), url('../scss/image/home/section1_main.png');
}

#section1 .main {
    font-family: 'GowunBatang-Regular';
    white-space: pre-wrap;
    position: absolute;
    transform: translate(70%, 70%);
    color: black;
    text-align: center;
    background-color: rgba(255, 240, 240, 0.7);
    background-color: none;
    border-radius: 5%;
    padding: 1% 1% 1% 1%
}

#section1 .main h2{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#section1 .main p{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#section2 {
    width: 100%;
    height: 100vh;
    padding: 10% 10% 20% 20%;
    background-repeat: no-repeat;
    background-color:rgba(241, 145, 145, 0.1);
}

#section2 img{
    object-fit:cover;
    height: 200px;
    width: 350px;
    margin:10px 10px;
}

#section2 .message{
    font-family: 'GowunBatang-Regular';
    font-size: 25px;
    margin-bottom: 10px;
    color: palevioletred;
    font-weight:bold;
    text-align: center;
    padding-top:10%;
}

#section2 .message_small{
    font-family: 'GowunBatang-Regular';
    font-size: 18px;
    text-align: center;
}

.section .letter{
    float: left;
    padding-top:5%;
}


.section .anon{
    float: left;
    padding-top:5%;
}


.section .match{
    float: left;
    padding-top:5%;
}


#section3{
    padding-top:5%;
    padding-bottom: 20%;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(63, 63, 63, 0.945)), url("../scss/image/home/section3.png");
    // background-color:rgba(241, 145, 145, 0.1);
}
#section3 .rounded {
    object-fit:contain;
    height: 200px;
    width: 200px;
    transform: scale(0.7,0.7);
}

#section3 .circle_head{
    padding-top: 10px;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'GowunBatang-Regular';
}

#section3 .circle_text{
padding-top: 10px;
padding-bottom: 10px;
font-size: 1.5rem;
font-weight: bold;
font-family: 'GowunBatang-Regular';
}

#section3 .circle{
    background-color: rgba(255,255,255,0.5);
    border-radius: 10%;
    padding: 1% 1% 1% 1%;
    margin: 1% 1% 1% 1%;
}

#section3 #circle1{
    float: left;
    width:15%;
    margin-left:300px;
    box-sizing: border-box;
    text-align: center;
}

#section3 #circle2{
    float: left;
    width:15%;
    // margin-left:80px;
    box-sizing: border-box;
    text-align: center;
}
 
#section3 #circle3{
    float: left;
    width:15%;
    // margin-left:80px;
    // margin-right:80px;
    box-sizing: border-box;
    text-align: center;
}

#section3 #circle4{
    float: left;
    // margin-left:80px;
    width:15%;
    box-sizing: border-box;
    text-align: center;
}

#section3 .bottom h2{
    float: clear;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    text-shadow: -1px -1px 0 rgb(255, 251, 251), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'GowunBatang-Regular';
    // padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 2%;
}


@media (max-width: 1300px){
    #section1 .main{
        margin-left: 10rem;
        margin-right: 10rem;
        margin-top: 5rem;
        margin-bottom: 1rem;
        background-color: rgba(255,255,255,0.8);
    }
    #section1 .main h2{
        font-size:1.5rem;
    }

    #section1 .main p{
        font-size: 1rem;
    }
    button{
        transform:scale(0.8,0.8);
    }

    #section2 .main{
        display: flex;
    }
    #section3 {
        display: flex;
    }

    #section3 .bottom h2{
        display:none;
    }
    #section3 img{
        transform:scale(0.5, 0.5);
    }

}

@media (max-height: 800px){
    #section1 .main{
        margin-left: 10rem;
        margin-right: 10rem;
        margin-top: 5rem;
        margin-bottom: 1rem;
        background-color: rgba(255,255,255,0.8);
    }

    #section1 .main h2{
        font-size:1.5rem;
    }

    #section1 .main p{
        font-size: 1rem;
    }
    button{
        transform:scale(0.8,0.8);
    }

    #section2 .main{
        display: flex;
    }
    #section3 {
        display: flex;
    }
    #section3 .bottom h2{
        display:none;
    }
    #section3 img{
        display: none;
    }
}